<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>CUIP: Visualizations</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>

<body>
  <img class="ui image" src="https://raw.githubusercontent.com/ut-cuip/utc-cuip-video-event-visualizer/master/key_type.png">
  <center>
    <h2>Overlays (by type) for <pre>mlk-peeples-cam-3</pre></h2>
    <img class="ui image" id="bg" src="{{ url_for('video_feed') }}" style="margin-top: 16px">
  </center>
</body>

</html>
